@page "/orders"
@using lab6.Data
@inject OrdersInterface orderInt
<div class="d-flex justify-content-between align-items-center pb-2">
    <h1>Orders</h1>
    <a href="/order" class="btn btn-success">Add order</a>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Price</th>
      <th scope="col">Date of addmission</th>
      <th scope="col">Date of issue</th>    
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
        @foreach(var order in orderInt.orders)
        {
            <tr>
                <th scope="row">
                    @order.UserID.FirstName
                </th>
                <td>
                    @order.ServiceID.ServiceName
                </td>
                <td>
                    @order.DateOfAdmission.ToLongDateString()
                </td>
                <td>
                    @order.DateOfIssue.ToShortDateString()
                </td>
                <td>
                    <a href="order/delete/@order.ID" class="btn btn-danger">Delete order</a>
                </td>
            </tr>
        }
  </tbody>
</table>


@code {
    protected override async Task OnInitializedAsync()
    {
        await orderInt.GetOrders();
    }
}
